# Backup files
*~

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# QT
*.pro.user
moc_*

# QT Creator build directories
build-MyDemoProject-*
